.manage-doctor-container {
    margin: 0 100px 50px;

    label {
        margin-top: 20px;
    }

    .manage-doctor-input {}

    .submit-btn {
        padding: 0 20px;
        margin-top: 20px;
    }
}