.specialty-manager-container {
    margin: 20px 100px 40px;

    label {
        margin-top: 20px;
    }

    .upload-img-container {
        display: flex;

        .upload-img-preview {
            background-position: left;
            height: 100px;
            background-repeat: no-repeat;
            flex: 1;
            margin-left: 20px;
            justify-content: space-between;
            align-items: center;
        }

        .upload-img {
            margin: 0;
            height: 36px;
            line-height: 36px;
        }
    }

    .submit-btn {
        margin-top: 20px;
        padding: 4px 8px;
        height: auto;
        font-weight: 300;
    }
}