.specialty-detail-container {
    margin-top: 78px;

    .select-province {
        min-width: 200px;
        display: inline-block;
        margin: 50px 160px 0;
    }

    .specialty-list-doctor {
        padding: 12px 160px 120px;
    }
}