@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;

    .header-right-container {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .welcome {
            margin-right: 20px;
        }

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            margin-left: 20px;

            &:hover {
                background-color: darken($colormain, 5);
            }

            i {
                font-size: $base-size + 1px;
            }
        }

        .languages {
            display: flex;
            width: 80px;
            justify-content: space-around;

            span {
                cursor: pointer;
            }

            .active {
                color: yellow;
            }
        }
    }

}